{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {%  endblock %}
    </title>

    {% block head %}
    {% endblock %}

    <!-- Latest compiled and minified CSS -->
    {% if request.session.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min-dark.css'%}">
    {% else %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    {% endif %}

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>

    <nav class="navbar navbar-default col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Демотиваторы</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li><a href="/new/">Создать</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                <li><a href="/accounts/login/">Войти</a></li>
                {% else %}
                <li>
                    <form role="option" action="/change_theme/" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="id_next" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-link" style="text-decoration: none; height: 50px;">Сменить тему</button>
                    </form>
                </li>
                {% if user.is_staff %}
                <li><a href="http://127.0.0.1:8000/admin">Управление</a></li>
                {% endif %}
                <li><a href="/accounts/logout/">Выйти</a></li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-left" role="search" action="/search/" method="post">
                {% csrf_token %}
                <div class="form-group">
                        <input type="text" name='string' class="form-control">
                        <button type="submit" class="btn btn-primary">Искать</button>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 container">
    {% block content %}
    {%  endblock %}
    </div>

    <div class="col-xs-1">
    {% for tag in cloud %}
    <a href="/tag/{{ tag.0 }}/"><text class="btn btn-default"><text class="glyphicon glyphicon-tag"></text> {{ tag.0 }} <text class="btn btn-info" style="height: 25px; padding-top: 2px;">{{ tag.1 }}</text></text></a><br><br>
    {% endfor %}
    </div>

    <script src="{% static 'scripts/fabric.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-2.1.4.min.js' %}"></script>

</body>
</html>