{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="text-center">
        {% for image in images %}
            <a href="/open/{{ image.slug }}/"><img style="padding-bottom: 4px" src="{% static image.mini_url %}"></a>
        {% endfor %}
    </div>
    <hr>

{% endblock %}