{% extends 'profile.html' %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">
        <h2 class="text-center"><text class="glyphicon glyphicon-search" style="font-size: 25px;"></text> <b>{{ string }}</b></h2>
    </div>

    <div class="text-center">
        {% for user in users %}
            <a href="/user/{{ user.id }}/"><text class="btn btn-primary"><text class="glyphicon glyphicon-user"></text> {{ user.username }}</text></a>
        {% endfor %}
        {% if users %}
        <br><br>
        {% endif %}
        {% for image in images %}
            <a href="/open/{{ image.slug }}/"><img style="padding-bottom: 4px" src="{% static image.mini_url %}"></a>
        {% endfor %}
    </div>
{% endblock %}