{% extends 'profile.html' %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">
        <h2 class="text-center">Тег: <b>{{ tag.tag }}</b></h2>
        <p class="text-center" style="white-space: pre"><text class="glyphicon glyphicon-picture"/> {{ amount }}</p>

    </div>
    <div class="text-center">
        {% for image_tag in image_tags %}
            <a href="/open/{{ image_tag.image.slug }}/"><img style="padding-bottom: 4px" src="{% static image_tag.image.mini_url %}"></a>
        {% endfor %}
    </div>
{% endblock %}