{% extends 'profile.html' %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">
        <h2 class="text-center">Пользователь: <b>{{ username }}</b></h2>
        <p class="text-center" style="white-space: pre"><text class="glyphicon glyphicon-picture"/> {{ amount }}   <text class="glyphicon glyphicon-heart "/> {{ likes }}   <text class="glyphicon glyphicon-star" /> {{ vote }}</p>

    </div>
    <div class="text-center">
        {% for image in images %}
            <a href="/open/{{ image.slug }}/"><img style="padding-bottom: 4px" src="{% static image.mini_url %}"></a>
        {% endfor %}
    </div>
{% endblock %}