{% extends "base.html" %}


{% block head %}
	<script>
	UPLOADCARE_TABS = 'all';
	UPLOADCARE_PUBLIC_KEY = 'demopublickey';
	</script>
	{{ form.media }}
{% endblock %}


{% block content %}
	<div>
		<form action="." method="post" id="upload-form" class="center">
            {% csrf_token %}
            <input id="id_author" name="author" type="hidden" value="{{ user.username }}">
            <table>
                <tr>
                    <td width="100"><p>Верхний текст:</p></td>
                    <td><input id="id_top_text" name="top_text" type="text" style="width: 300px;" value="{{ image.top_text }}"></td>
                </tr>
                <tr>
                    <td><p>Нижний текст:</p></td>
                    <td><input id="id_bottom_text" name="bottom_text" type="text" style="width: 300px;" value="{{ image.bottom_text }}"></td>
                </tr>
                <tr>
                    <td><p>Теги:</p></td>
                    <td><input id="id_tags" name="tags" type="text" placeholder="Введите теги, разделенные пробелами" style="width: 300px;" value="{{ image.tags }}"></td>
                </tr>
                <tr>
                    <td><p>Изображение:</p></td>
                    <td>{{ form.image }} <button class="btn btn-primary" type="submit">Сохранить</button></td>
                </tr>
            </table>
		</form>
		{{ form.errors }}
	</div>
{% endblock %}
