{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {% load comments %}
    <h2><a href="/user/{{ author_id }}/">{{ image.author }}</a> ({{ date }})</h2>

    <a href="{% static image.normal_url %}" target="_blank">
        <img align="left" width="500px" src="{% static image.normal_url %}"></a>

        <p><a href="{% static image.normal_url %}" target="_blank"><img src="{% static "images/link.png" %}" width="50px" style="padding-left: 10px;"/></a></p>
        {% if image.author == user.username or user.is_staff%}
        <p><a href="/edit/{{ image.slug }}"><img src="{% static "images/edit.png" %}" width="50px" style="padding-left: 10px;"/></a></p>
        <p><a href="/delete/{{ image.slug }}"><img src="{% static "images/delete.png" %}" width="50px" style="padding-left: 10px;"/></a></p>
        {% endif %}

    <br clear="left">

    <div style="font-size: 35px; padding-top: 10px;">
    {% for x in star_amount %}
        {% if forloop.counter <= filled_star_amount %}
            {% if can_vote %}
                <a href="{% url 'like' image.slug forloop.counter %}" class="glyphicon glyphicon-star" style="color: lightskyblue;"></a>
            {% else %}
                <a href="{% url 'like' image.slug forloop.counter %}" class="glyphicon glyphicon-star" style="color: #337AB7;"></a>
            {% endif %}
        {% else %}
            {% if can_vote %}
                <a href="{% url 'like' image.slug forloop.counter %}" class="glyphicon glyphicon-star-empty" style="color: lightskyblue;"></a>
            {% else %}
                <!--<text class="glyphicon glyphicon-star-empty"></text>-->
                <a href="{% url 'like' image.slug forloop.counter %}" class="glyphicon glyphicon-star-empty" style="color: #337ab7;"></a>
            {% endif %}
        {% endif %}
    {% endfor %}
    <b>{{ stars }}</b>
    </div>

    {% for tag in image.tags %}
    <a href="/tag/{{ tag.tag.tag }}/"><text class="btn btn-info"><text class="glyphicon glyphicon-tag"></text> {{ tag.tag.tag }}</text></a>
    {% endfor %}

    <div id='comments'>
        {% get_comment_list for object as comment_list %}
            <hr>
            {% for comment, user_like in data %}
                <div>
                    <p style="font-size: smaller; color: darkgray"><a href="/user/{{ comment.user_id }}/"><text class="glyphicon glyphicon-user"></text> {{ comment.user_name }}</a> ({{ comment.submit_date }})
                    {% if comment.user == user or user.is_staff %}
                        <a href="{% url 'delete_comment' comment.id %}" class="glyphicon glyphicon-remove align-right"></a>
                    </p>
                </div>
                    {% endif %}
                <p>{{ comment.comment }}
                {% if userId == comment.user.id %}
                     <text class="glyphicon glyphicon-heart" style="color: lightgray"></text>
                {% elif user_like %}
                    <a href="{% url 'vote' comment.id %}" class="glyphicon glyphicon-heart" style="color: #337ab7"></a>
                {% else %}
                    <a href="{% url 'vote' comment.id %}" class="glyphicon glyphicon-heart-empty" style="color: lightskyblue"></a>
                {% endif %}
                    {{ comment.total_upvotes }}
                </p>
                <div id="{{ comment.id }}"></div>
                <hr>
            {% endfor %}

        {% if user.is_authenticated %}
            {% get_comment_form for object as form %}
            <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            <textarea id="id_comment" name="comment" maxlength="3000" rows="4" style="width: 500px"></textarea>
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" id="id_next" name="next" value="{{ object.get_absolute_url }}">
            <br>
            <input class="btn btn-primary" type="submit" value="Отправить" id="id_submit"/>
            </form>
        {% else %}
        {% endif %}
    </div>
    <br>
{% endblock %}