{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <p>Вы уверены, что хотите удалить данный демотиватор?</p>
        <input class="btn btn-primary" type="submit" value="Удалить" />
    </form>

{% endblock %}